@import "tailwindcss";

:root {
  --english-font: "Poppins", sans-serif;
  --bangla-font: "Anek Bangla", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--english-font);
}

.bangla-text {
  font-family: var(--bangla-font);
}

.nav-btn {
  @apply flex gap-2 items-center border-2 border-violet-600 text-violet-600 px-3 py-1 rounded-sm transition-all duration-300;
}

.nav-btn:hover {
  @apply bg-violet-600 text-white;
}

.fixed-nav {
  @apply fixed top-0 left-0 right-0 z-50;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.6);
}

.input-field {
  @apply w-4/5 px-4 py-2 mt-2 border border-dashed border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all duration-300;
}

.input-field:hover {
  @apply border-blue-400;
}

.primary-btn {
  @apply px-4 py-2 mt-4 bg-blue-400 text-white rounded-lg transition-all duration-300;
}

.vocab-btn {
  @apply flex items-center gap-1.5 px-4 py-2 mt-4 border-2 border-violet-700 text-violet-700 rounded-lg transition-all duration-300;
}

.vocab-btn.selected {
  @apply bg-violet-700 text-white;
}

.vocab-btn:hover {
  @apply bg-violet-700 text-white;
}

.faq-item {
  @apply px-6 py-4 mt-4 bg-gray-100 text-black rounded-lg transition-all duration-300 cursor-pointer;
}
.faq-item h4{
  @apply text-lg font-semibold;
}

.faq-answer{
  @apply px-4 py-2 mt-2 bg-gray-200 text-black rounded-lg transition-all duration-300;
}

.lesson-card {
  @apply w-82 bg-white shadow-md rounded-lg p-6 max-w-sm mx-auto;
}

.lesson-card-container {
  @apply grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3;
}

.modal {
  @apply block fixed z-10 left-0 top-0 w-full h-full;
  background: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  @apply bg-white rounded-lg shadow-xl p-6 max-w-lg w-full mx-4 top-1/2 left-1/2 relative ;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  overflow-y: auto;
}

.modal-close {
  @apply mt-4 w-fit cursor-pointer bg-violet-400 border-2 border-violet-400 text-white px-4 py-2 rounded-lg transition-all duration-300;

}

.modal-close:hover {
  @apply bg-violet-300;
}



